{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
    <h3>Detail Page</h3>
</div>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="alert alert-success" role="alert">
        <p>タイトル: {{ object.title }}</p>
        <p>投稿者: {{ object.author }}</p>
        <p>内容: {{ object.content }}</p>
        {% if object.sns_image.url is not null %}
        <p><img src="{{ object.sns_image.url }}" width=300></p>
        {% endif %}
        <a href="{% url 'good' object.pk %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">いいねする</a>
        <a href="{% url 'read' object.pk %}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">既読にする</a>

    </div>
</div>
{% else %}
please login
{% endif %}
{% endblock %}